@charset "UTF-8";
* {
  box-sizing: border-box; }

a,
a:hover {
  text-decoration: none;
  color: #444444; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  display: block; }

html {
  font-size: 62.5%; }

body {
  margin: 0 auto;
  color: #444444;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", "sans-serif", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  background-color: #6bc7d4;
  line-height: 1.7;
  letter-spacing: 0.1rem; }

body {
  width: 100%;
  padding: 30px; }
  body .wrp {
    border-radius: 15px;
    background-color: #FFF9E1;
    margin: 0 auto; }
  body #pan {
    padding: 2.0rem 0 0 2.0rem; }
    body #pan .breadcrumb {
      margin: 0;
      padding: 0;
      list-style: none; }
    body #pan .breadcrumb li {
      display: inline; }
    body #pan .breadcrumb li:after {
      font-family: FontAwesome;
      content: '\f0da';
      padding: 0 0.2em;
      color: silver; }
    body #pan .breadcrumb li:last-child:after {
      content: ''; }
    body #pan .breadcrumb li a {
      text-decoration: none;
      color: #888; }
    body #pan .breadcrumb li:first-child a:before {
      font-family: FontAwesome;
      content: '\f015';
      font-weight: normal;
      font-size: 1.1em;
      margin-right: 0.5rem; }
    body #pan .breadcrumb li a:hover {
      text-decoration: underline; }
  body header .sp-rogo,
  body header .menu-btn,
  body header .sp-menubtn_toggle {
    display: none; }
  body header .header-in {
    padding: 2.5rem 0 2.0rem; }
    body header .header-in .pc-menu {
      text-align: center; }
      body header .header-in .pc-menu li {
        display: inline-block;
        font-size: 1.6rem;
        margin-left: 3.0rem;
        vertical-align: bottom;
        position: relative;
        background: #fff;
        padding: 0.4rem 1.5rem 0.2rem 3.5rem;
        color: #474747;
        border-radius: 0 15px 15px 0;
        box-shadow: 1px 1px 3px lightgray; }
      body header .header-in .pc-menu li:hover {
        box-shadow: 3px 1px 3px gray; }
      body header .header-in .pc-menu li::before {
        font-family: "Font Awesome 5 Free";
        content: "";
        display: inline-block;
        position: absolute;
        padding: 0em;
        color: white;
        font-weight: 900;
        width: 37px;
        text-align: center;
        height: 37px;
        line-height: 37px;
        left: -1.0rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        box-shadow: 1px 1px 2px grey; }
      body header .header-in .pc-menu .menu1::before {
        content: "\f007";
        background: #fe97a3; }
      body header .header-in .pc-menu .menu2::before {
        content: "\f001";
        background: #54e91e; }
      body header .header-in .pc-menu .menu3::before {
        content: "\f086";
        background: #93d6df; }
      body header .header-in .pc-menu .menu4::before {
        content: "\f128";
        background: #ffb932; }
      body header .header-in .pc-menu li:nth-of-type(3) {
        background-color: #FFF9E1;
        padding: 0;
        margin: 0;
        margin-left: 1.5rem;
        box-shadow: none; }
        body header .header-in .pc-menu li:nth-of-type(3) img {
          width: 70%;
          margin: 0 auto; }
      body header .header-in .pc-menu li:nth-of-type(3)::before {
        content: none; }
  body header .submenu ul {
    background-color: #6bc7d4;
    border-radius: 20px 0 0 20px;
    position: fixed;
    top: 100px;
    right: 13px;
    padding: 23px 7px; }
    body header .submenu ul li {
      writing-mode: vertical-rl; }
      body header .submenu ul li a {
        color: #FFF9E1; }
  body .sp-topimg {
    display: none; }
  body #intro {
    width: 80%;
    margin: 5.0rem auto; }
    body #intro h2 {
      font-size: 2.0rem;
      line-height: 3;
      color: #41c113; }
    body #intro h2::before {
      font-family: "Font Awesome 5 Free";
      content: "\f001";
      margin-right: 1.0rem;
      font-size: 2.5rem; }
    body #intro .greet-wrp {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 7.0rem; }
      body #intro .greet-wrp .greet-text {
        width: 50%;
        border-radius: 20px;
        background: #fff;
        padding: 3.0rem;
        box-shadow: 0 0 5px #fff; }
        body #intro .greet-wrp .greet-text img {
          width: 15%;
          margin: 0 auto; }
        body #intro .greet-wrp .greet-text h1 {
          text-align: center;
          font-size: 2.0rem;
          line-height: 4;
          color: #fd6576; }
        body #intro .greet-wrp .greet-text p {
          line-height: 2; }
      body #intro .greet-wrp .greet-img {
        width: 35%; }
    body #intro .import-wrp {
      margin-bottom: 7.0rem; }
      body #intro .import-wrp .import-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        body #intro .import-wrp .import-content .import {
          width: 47%;
          margin: 1.0rem 0 3.5rem;
          background: #fff;
          padding: 1.0rem 3.5rem 2.5rem;
          border-radius: 8px;
          box-shadow: 0px 0px 0px 12px #fff; }
          body #intro .import-wrp .import-content .import h3 {
            font-size: 2.0rem; }
          body #intro .import-wrp .import-content .import span {
            font-size: 4.0rem; }
          body #intro .import-wrp .import-content .import p {
            line-height: 2; }
        body #intro .import-wrp .import-content .import01 {
          border: dashed 2px #fd6576; }
          body #intro .import-wrp .import-content .import01 .spanfont {
            color: #fd6576; }
        body #intro .import-wrp .import-content .import02 {
          border: dashed 2px #41c113; }
          body #intro .import-wrp .import-content .import02 .spanfont {
            color: #41c113; }
        body #intro .import-wrp .import-content .import03 {
          border: dashed 2px #6bc7d4; }
          body #intro .import-wrp .import-content .import03 .spanfont {
            color: #6bc7d4; }
        body #intro .import-wrp .import-content .import04 {
          border: dashed 2px #FEA700; }
          body #intro .import-wrp .import-content .import04 .spanfont {
            color: #FEA700; }
    body #intro .teacher-wrp {
      margin-bottom: 7.0rem; }
      body #intro .teacher-wrp .teacher {
        display: flex;
        justify-content: space-between; }
        body #intro .teacher-wrp .teacher .teacher-img {
          width: 35%; }
        body #intro .teacher-wrp .teacher .teacher-text {
          width: 60%; }
          body #intro .teacher-wrp .teacher .teacher-text h4 {
            font-size: 1.7rem;
            background: linear-gradient(transparent 70%, #FCFA83 80%);
            display: inline; }
          body #intro .teacher-wrp .teacher .teacher-text h5 {
            margin: 2.0rem 0; }
    body #intro .garrely-wrp .garrely {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    body #intro .garrely-wrp img {
      width: 30%;
      margin-bottom: 3.0rem; }
  body #class .class-title {
    text-align: center;
    margin: 5.0rem 0 7.0rem 0;
    font-size: 1.6rem;
    position: relative; }
  body #class .class-title::after {
    content: url(../img/class/fog-mini.jpg);
    position: absolute; }
  body #class .class-wrp {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 8.0rem;
    display: flex;
    justify-content: space-between; }
    body #class .class-wrp .class {
      width: 32%;
      text-align: center;
      border-radius: 15px;
      opacity: 0.6; }
      body #class .class-wrp .class a {
        color: #fff;
        display: block;
        padding: 3.0rem 1.0rem; }
      body #class .class-wrp .class h1 {
        font-size: 2.5rem; }
        body #class .class-wrp .class h1 .sponly {
          display: none; }
      body #class .class-wrp .class h2 {
        font-size: 2.0rem; }
    body #class .class-wrp .class:hover {
      opacity: 0.8; }
  body #class .detail-wrp {
    width: 80%;
    margin: 0 auto; }
    body #class .detail-wrp .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10.0rem; }
      body #class .detail-wrp .detail .detail-text {
        width: 55%; }
        body #class .detail-wrp .detail .detail-text h1 {
          font-size: 2.5rem;
          text-align: center;
          opacity: 0.6;
          color: #fff;
          border-radius: 10px;
          padding: 0.3rem;
          margin-bottom: 3.0rem; }
        body #class .detail-wrp .detail .detail-text h2 {
          font-size: 2.0rem; }
        body #class .detail-wrp .detail .detail-text h5 {
          margin: 2.0rem 0 1.0rem;
          font-size: 1.5rem; }
        body #class .detail-wrp .detail .detail-text h4 {
          font-size: 1.5rem; }
        body #class .detail-wrp .detail .detail-text p {
          margin-bottom: 1.5rem; }
        body #class .detail-wrp .detail .detail-text i {
          color: #fd6576; }
      body #class .detail-wrp .detail .detail-img {
        width: 40%; }
        body #class .detail-wrp .detail .detail-img img {
          box-shadow: 2px 2px 4px grey; }
  body #class .baby {
    background-color: #fd6576; }
  body #class .child {
    background-color: #41c113; }
  body #class .hoiku {
    background-color: #6bc7d4; }
  body #class .other-wrp {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10.0rem;
    padding: 3.5rem;
    border: dashed 2px #ffc3c3;
    border-radius: 20px;
    position: relative; }
    body #class .other-wrp h3 {
      font-size: 1.7rem;
      margin-top: 3.0rem; }
      body #class .other-wrp h3 i {
        margin-right: 1.0rem;
        color: #fd6576; }
    body #class .other-wrp h3:first-of-type {
      margin-top: 0; }
    body #class .other-wrp a {
      color: #6bc7d4; }
  body #class .other-wrp::after {
    content: url(../img/class/kuma.jpg);
    position: absolute;
    right: -20%;
    bottom: 0; }
  body #voice .voice-title {
    text-align: center;
    margin: 5.0rem 0;
    font-size: 1.6rem;
    position: relative; }
  body #voice .voice-title::after {
    content: url(../img/voice/bird.jpg);
    position: absolute;
    margin-left: 1.0rem; }
  body #voice .sp-voice {
    display: none; }
  body #voice .voice {
    margin: 5.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body #voice .voice .two-wrp {
      width: 70%;
      padding: 3.5rem;
      border: dashed 2px #ffc3c3;
      border-radius: 20px;
      display: flex;
      justify-content: space-between; }
      body #voice .voice .two-wrp .students {
        width: 46%; }
      body #voice .voice .two-wrp .parents {
        width: 46%; }
    body #voice .voice .hoiku {
      width: 70%;
      display: flex;
      justify-content: space-between; }
      body #voice .voice .hoiku .one-wrp {
        width: 48%;
        padding: 3.5rem;
        border: dashed 2px #ffc3c3;
        border-radius: 20px; }
    body #voice .voice .gallery {
      width: 27%;
      background-color: #FFF9E1; }
    body #voice .voice h2 {
      font-size: 1.5rem; }
    body #voice .voice h3 {
      margin-top: 1.5rem;
      color: #41c113; }
    body #voice .voice i {
      font-size: 2.0rem; }
  body #faq {
    margin-bottom: 5.0rem; }
    body #faq .faq-title {
      text-align: center;
      margin: 5.0rem 0;
      font-size: 1.6rem;
      position: relative; }
    body #faq .faq-title::after {
      content: url(../img/faq/hari.jpg);
      position: absolute;
      top: -50%; }
    body #faq .faq-wrp {
      width: 70%;
      margin: 0 auto;
      padding: 4rem;
      border: dashed 2px #ffc3c3;
      border-radius: 20px;
      margin-top: 3.0rem; }
      body #faq .faq-wrp h1 {
        font-size: 1.7rem;
        padding-left: 3.3rem;
        text-indent: -3.3rem; }
      body #faq .faq-wrp h1::before {
        content: "Q.";
        font-size: 1.9rem;
        color: #41c113;
        margin-right: 1.0rem; }
      body #faq .faq-wrp p {
        margin-bottom: 3.0rem;
        font-size: 1.5rem;
        padding-left: 3.3rem;
        text-indent: -3.3rem; }
      body #faq .faq-wrp p::before {
        content: "A.";
        font-size: 1.9rem;
        color: #fd6576;
        margin-right: 1.0rem;
        font-weight: bold; }
  body #contact {
    text-align: center;
    margin-bottom: 5.0rem; }
    body #contact .contact-title {
      margin: 5rem 0;
      font-size: 1.6rem;
      position: relative; }
    body #contact .contact-title::after {
      content: url(../img/contact/rabi.jpg);
      position: absolute;
      top: -50%; }
    body #contact h4 {
      font-size: 2.0rem;
      margin-bottom: 2.0rem;
      background: linear-gradient(transparent 70%, #FCFA83 80%);
      display: inline; }
    body #contact i {
      margin-right: 1.0rem; }
    body #contact h5 {
      font-size: 3.0rem;
      color: #41c113; }
    body #contact p {
      line-height: 2.0; }
    body #contact .contact-tel {
      margin-top: 6.0rem; }
    body #contact .contact-form {
      margin-top: 8.0rem; }
      body #contact .contact-form .form-wrp {
        border: dashed 2px #fd6576;
        padding: 3.0rem;
        border-radius: 10px;
        width: 60%;
        margin: 0 auto;
        margin-top: 3.0rem;
        text-align: left; }
        body #contact .contact-form .form-wrp .form label, body #contact .contact-form .form-wrp .form input, body #contact .contact-form .form-wrp .form textarea {
          display: block; }
        body #contact .contact-form .form-wrp .form input, body #contact .contact-form .form-wrp .form textarea {
          width: 100%;
          border: 1px solid #ffc3c3;
          outline: none;
          padding: 1.0rem;
          font-size: 1.5rem;
          transition: border 0.5s;
          -webkit-transition: border 0.5s;
          -moz-transition: border 0.5s;
          -o-transition: border 0.5s;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        body #contact .contact-form .form-wrp .form input[type="radio"] {
          display: inline-block;
          text-align: left;
          width: 5%;
          margin-bottom: 0.5rem; }
        body #contact .contact-form .form-wrp .form input[type="submit"] {
          border-radius: 15px;
          box-shadow: 3px 3px 5px grey; }
        body #contact .contact-form .form-wrp .form textarea {
          height: 100px;
          resize: none;
          overflow: auto; }
        body #contact .contact-form .form-wrp .form input[type="submit"] {
          background-color: #fd6576;
          color: #FFF9E1;
          height: 5.0rem;
          cursor: pointer;
          margin-top: 3.0rem;
          font-size: 1.8rem; }
        body #contact .contact-form .form-wrp .form input[type="submit"]:hover {
          background-color: #ffc3c3;
          color: #444444; }
        body #contact .contact-form .form-wrp .form label {
          font-size: 1.5rem;
          margin: 2.0rem 0 0.5rem 0;
          font-weight: bold;
          text-align: left; }
        body #contact .contact-form .form-wrp .form form {
          width: 40%;
          margin: 0 auto; }
  body #common {
    padding: 5.0rem; }
    body #common #acsess {
      display: flex;
      justify-content: space-around; }
      body #common #acsess .access-text {
        width: 40%;
        padding: 0 5.0rem;
        position: relative; }
        body #common #acsess .access-text i {
          margin-right: 1.0rem; }
        body #common #acsess .access-text h3 {
          margin-bottom: 3.0rem; }
        body #common #acsess .access-text img {
          width: 70%; }
        body #common #acsess .access-text h4 {
          font-size: 1.6rem; }
        body #common #acsess .access-text p {
          font-size: 1.6rem; }
      body #common #acsess .access-text::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 37px;
        position: absolute;
        left: -3%;
        top: -6%;
        background-image: url(../img/top/deco1.png);
        background-size: contain;
        vertical-align: middle; }
      body #common #acsess .access-text::after {
        content: '';
        display: inline-block;
        width: 37px;
        height: 39px;
        position: absolute;
        right: 8%;
        background-image: url(../img/top/deco3.png);
        background-size: contain;
        vertical-align: middle; }
      body #common #acsess .gmap {
        width: 60%; }
        body #common #acsess .gmap iframe {
          width: 100%; }
  body #pageup {
    cursor: pointer;
    font-size: 4.0rem;
    position: fixed;
    right: 5%;
    bottom: 3%;
    color: #fd6576; }
  body #pageup:hover {
    opacity: 0.7; }
  body footer {
    text-align: center; }

/*------------------pc1060以下-----------------
---------------------------------------------*/
@media screen and (max-width: 1060px) {
  body header .pc-menu,
  body header .submenu {
    display: none; }
  body header .sp-rogo {
    display: block;
    margin: 0 auto;
    width: 40%; }
  body header .menu-btn {
    display: block;
    position: absolute;
    top: 5%;
    right: 7%;
    cursor: pointer;
    font-size: 4.0rem;
    color: #fd6576; }
  body header .sp-menubtn_toggle {
    width: 90%;
    position: absolute;
    top: 15%;
    left: 5%;
    background: #FFF9E1;
    margin: 0 auto;
    z-index: 999;
    padding: 2.0rem 0; }
    body header .sp-menubtn_toggle li {
      list-style: none;
      position: relative;
      background: #fff;
      padding: 0.4rem 1.0rem 0.2rem 5.0rem;
      border-radius: 0 15px 15px 0;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      font-size: 2.0rem;
      line-height: 2.0; }
    body header .sp-menubtn_toggle li::before {
      font-family: "Font Awesome 5 Free";
      content: "";
      display: inline-block;
      position: absolute;
      padding: 0em;
      color: white;
      font-weight: 900;
      width: 5.0rem;
      text-align: center;
      height: 5.0rem;
      line-height: 5.0rem;
      left: -1.5rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%;
      box-shadow: 1px 1px 2px grey; }
    body header .sp-menubtn_toggle li:hover {
      opacity: 0.7; }
    body header .sp-menubtn_toggle .menu5::before {
      content: "\f015";
      background: #fd6576; }
    body header .sp-menubtn_toggle .menu6::before {
      content: "\f007";
      background: #fe97a3; }
    body header .sp-menubtn_toggle .menu7::before {
      content: "\f001";
      background: #54e91e; }
    body header .sp-menubtn_toggle .menu8::before {
      content: "\f086";
      background: #93d6df; }
    body header .sp-menubtn_toggle .menu9::before {
      content: "\f128";
      background: #ffb932; }
    body header .sp-menubtn_toggle .menu10::before {
      content: "\f3c5";
      background: #41c113; }
    body header .sp-menubtn_toggle .menu11::before {
      content: "\f095";
      background: #FCFA83; }
  body #class .class-title {
    margin: 5.0rem 2.0rem 7.0rem 2.0rem; }
  body #class .other-wrp::after {
    right: -30%; } }
/*------------------width1023以下(iPadPro未満)-----------------
---------------------------------------------*/
@media screen and (max-width: 1023px) {
  body #class {
    padding: 0 5%; }
    body #class .class-wrp {
      width: 100%; }
    body #class .detail-wrp {
      width: 100%; }
      body #class .detail-wrp .detail {
        flex-direction: column;
        margin-bottom: 8.0rem; }
        body #class .detail-wrp .detail .detail-text {
          width: 100%; }
        body #class .detail-wrp .detail .detail-img {
          width: 60%;
          margin-top: 5.0rem; }
    body #class .other-wrp {
      width: 100%;
      margin-bottom: 5.0rem; }
    body #class .other-wrp::after {
      right: 3%;
      top: 5%; }
  body #voice {
    padding: 0 5%; }
    body #voice .pc-voice {
      display: none; }
    body #voice .sp-voice {
      display: block; }
    body #voice .voice {
      flex-direction: column;
      margin: 3.0rem 0; }
      body #voice .voice .two-wrp {
        width: 100%;
        flex-direction: column; }
        body #voice .voice .two-wrp .students {
          width: 100%;
          padding-bottom: 2.0rem;
          margin-bottom: 2.0rem;
          border-bottom: dashed 2px #ffc3c3; }
        body #voice .voice .two-wrp .parents {
          width: 100%; }
      body #voice .voice .hoiku {
        width: 100%;
        flex-direction: column;
        margin-bottom: -3.0rem; }
        body #voice .voice .hoiku .one-wrp {
          width: 100%;
          margin-bottom: 3.0rem; }
      body #voice .voice .gallery {
        width: 50%;
        margin-top: 2.5rem; }
  body #faq {
    padding: 0 5%; }
    body #faq .faq-wrp {
      width: 100%; }
  body #common #acsess {
    flex-direction: column; }
    body #common #acsess .access-text {
      width: 100%;
      padding: 0 7%;
      margin-bottom: 2.0rem; }
      body #common #acsess .access-text h3 {
        margin-bottom: 2.5rem; }
        body #common #acsess .access-text h3 img {
          width: 50%;
          margin: 0 auto; }
    body #common #acsess .access-text::before {
      left: 75%;
      top: 35%; }
    body #common #acsess .access-text::after {
      right: 3%;
      bottom: 20%; }
    body #common #acsess .gmap {
      width: 100%; } }
/*------------------width767以下(iPad未満)-----------------
---------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    background-color: #FFF9E1;
    padding: 0; }
    body #pan {
      display: none; }
    body header .sp-rogo {
      width: 55%;
      margin: 0;
      margin-left: 5%; }
      body header .sp-rogo img {
        margin-left: 20%; }
    body header .menu-btn {
      top: 3%;
      right: 5%;
      font-size: 3.0rem; }
    body header .sp-menubtn_toggle {
      width: 100%;
      left: 0;
      top: 10%;
      padding-left: 1.0rem; }
    body .sp-topimg {
      display: block; }
      body .sp-topimg h2 {
        color: #41c113;
        text-align: center;
        margin: 1.5rem 0 1.0rem;
        padding: 0 1.0rem;
        font-weight: normal;
        font-size: 1.3rem; }
    body .pc-topimg {
      display: none; }
    body #intro {
      padding: 0 3%;
      width: 100%;
      margin: 1.5rem 0 3.0rem; }
      body #intro h2 {
        font-size: 1.8rem;
        text-align: center; }
      body #intro .greet-wrp {
        flex-wrap: wrap;
        margin-bottom: 5.0rem; }
        body #intro .greet-wrp .greet-text {
          width: 100%;
          padding: 3.0rem 1.0rem;
          margin-bottom: 3.0rem; }
          body #intro .greet-wrp .greet-text h1 {
            font-size: 1.8rem; }
        body #intro .greet-wrp .greet-img {
          width: 90%; }
      body #intro .import-wrp {
        margin-bottom: 2.0rem;
        flex-wrap: wrap; }
        body #intro .import-wrp .import-content .import {
          width: 95%;
          margin: 0 auto;
          margin-bottom: 3.5rem;
          padding: 1.0rem 1.5rem 1.5rem; }
          body #intro .import-wrp .import-content .import h3 {
            font-size: 1.8rem;
            line-height: 1.3;
            margin-bottom: 1.0rem; }
          body #intro .import-wrp .import-content .import span {
            font-size: 3.0rem; }
      body #intro .teacher-wrp {
        margin-bottom: 5.0rem; }
        body #intro .teacher-wrp .teacher {
          flex-wrap: wrap; }
          body #intro .teacher-wrp .teacher .teacher-img {
            width: 50%;
            margin: 0 auto; }
          body #intro .teacher-wrp .teacher .teacher-text {
            width: 95%;
            margin: 0 auto;
            margin-top: 2.0rem; }
            body #intro .teacher-wrp .teacher .teacher-text h4 {
              display: block;
              text-align: center; }
      body #intro .garrely-wrp {
        margin-bottom: 5.0rem; }
        body #intro .garrely-wrp .garrely {
          flex-wrap: wrap; }
          body #intro .garrely-wrp .garrely img {
            width: 49%;
            margin-bottom: 1.0rem; }
    body #class {
      padding: 0 3%; }
      body #class .class-title {
        margin: 3.0rem 0; }
      body #class .class-wrp {
        margin: 6.0rem 0 5.0rem; }
        body #class .class-wrp .class a {
          padding: 1.0rem; }
        body #class .class-wrp .class h1 .sponly {
          display: block; }
        body #class .class-wrp .class h2 {
          display: none; }
      body #class .detail-wrp {
        padding: 0 3%; }
        body #class .detail-wrp .detail {
          margin-bottom: 5.0rem; }
          body #class .detail-wrp .detail .detail-img {
            width: 70%;
            margin-top: 3.0rem; }
      body #class .other-wrp::after {
        content: url(../img/class/kuma-sp.jpg);
        right: 8%;
        top: 3%; }
    body #voice {
      padding: 0 3%; }
      body #voice .voice-title {
        margin: 3.0rem 0 4.0rem; }
      body #voice .voice-title::after {
        top: 100%;
        right: 5%; }
      body #voice .voice .two-wrp {
        padding: 3.5rem 2.0rem; }
    body #faq {
      padding: 0 3%; }
      body #faq .faq-title {
        margin: 3.0rem 0; }
      body #faq .faq-title::after {
        top: 50%;
        right: 5%; }
      body #faq .faq-wrp {
        width: 100%;
        padding: 1.5rem; }
    body #contact {
      padding: 0 3%; }
      body #contact .contact-title {
        margin: 3.0rem 0; }
      body #contact .contact-title::after {
        top: 58%; }
      body #contact .contact-tel {
        margin: 5.0rem 5% 4.0rem; }
      body #contact .contact-form {
        margin-top: 4.0rem; }
        body #contact .contact-form .form-wrp {
          width: 100%;
          padding: 1.5rem;
          margin-top: 1.0rem; }
          body #contact .contact-form .form-wrp .form input[type="submit"] {
            margin: 2.0rem 0; }
          body #contact .contact-form .form-wrp .form form {
            width: 50%; }
    body #common {
      padding: 0; }
      body #common #acsess .access-text h3 img {
        width: 60%; }
      body #common #acsess .access-text::before,
      body #common #acsess .access-text::after {
        content: none; }
      body #common #acsess .gmap {
        width: 100%; }
    body footer {
      margin-top: 2.0rem;
      font-size: 1.0rem;
      padding: 0.5rem; } }
/*------------------width330以下-----------------
---------------------------------------------*/
@media screen and (max-width: 330px) {
  body #class .class-title::after {
    right: 0%;
    bottom: -40%; }
  body #class .class-wrp {
    flex-direction: column; }
    body #class .class-wrp .class {
      width: 100%;
      margin-top: 1.0rem; }
      body #class .class-wrp .class h1 .sponly {
        display: none; }
      body #class .class-wrp .class h2 {
        display: block; } }

/*# sourceMappingURL=style.css.map */
